{{extend 'layout.html'}}
<style>
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    bottom: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#vmmain {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 35px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  {{=A('Memory Leaks (Except VPXD)', _href=URL('vcMemLeak'))}}
  {{=A('Heap Analysis', _href=URL('vcHeapAnalysis'))}}
  {{=A('Memory Growth', _href=URL('vcMemGrowth'))}}
  {{=A('VPXD Memory Leak', _href=URL('vpxdMemLeak'))}}


</div>

<div id="vmmain">
  <h2>VC Operations</h2>
  <p>Users can initiate various operations related to VCs. Please note these operations can be simultaneously triggered on multiple VCs.</p>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; APIs</span>
</div>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("vmmain").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("vmmain").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
}
</script>
